<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  
  <!-- 编码过滤器 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>tmall.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 后台过滤器 -->
  <filter>
    <filter-name>backServletFilter</filter-name>
    <filter-class>tmall.web.filter.BackServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>backServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
